[submodule "Motus3D/thirdparty/spdlog"]
	path = Motus3D/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Motus3D/thirdparty/glm"]
	path = Motus3D/thirdparty/glm
	url = https://github.com/Groovounet/glm.git
[submodule "Motus3D/thirdparty/GLFW"]
	path = Motus3D/thirdparty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Motus3D/thirdparty/VulkanMemoryAllocator"]
	path = Motus3D/thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Motus3D/thirdparty/Assimp"]
	path = Motus3D/thirdparty/Assimp
	url = https://github.com/assimp/assimp.git
