# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.FileListAbsolute.txt

# Visual Studio files and folder
*.sln
*.vcxproj
*.filters
.vs/

# binaries
bin/
obj/
*.lib
*.dll
*.idb
*.pdb
*.exe
*.tlog
*.obj
*.ilk

# Misc
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.recipe